body {
	max-width: 100vh;
	margin: 0;
	font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.row {
	display: flex;
	flex-flow: row;
}
.col {
	display: flex;
	flex-flow: column;
}

.overflow {
	flex-wrap: wrap;
}

.clickable {
	cursor: pointer;
}
