.Graph {
	/* height: 80%; */
	padding: 20em;
	height: 80vh;
	background-color: #333;
	overflow: auto;
}
.container {
	height: 100%;
	display: inline-block;
	text-decoration: none;
}

.graph {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-between;
}

.row {
	display: flex;
	flex-flow: row-reverse;
}

.col {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
}
