.GoalCard {
	margin-left: 0.5em;
	display: flex;
	flex-flow: row;
}

.bar {
	width: 0.15em;
	margin-right: 1em;
	background-color: rgba(112, 128, 144, 0.452);
	height: 100%;
}

.levels {
	display: flex;
	flex-flow: row;
}

.cardContainer {
	margin: 0.5em;
	margin-left: 0;
	border: 1px black;
}

.goalIcon {
	position: absolute;
	right: 0;
}

.goalTitle {
	color: white;
	font-size: large;
}

.goalTitle.selected {
	color: lightgreen;
}

.expandArrow {
	max-width: 10px;
	/* font-size: large; */
}

.freeSpace {
	min-width: 13px;
}

.treeGoal {
	display: flex;
}
