.GoalLarge {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 80% !important;
}

.GoalLarge .header {
	text-align: center;
}

.GoalLarge .editButton {
	right: 0;
	position: absolute;
	cursor: pointer;
}

.relatedGoalTag {
	margin: 0.1em;
}
